.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort{
    display:flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius:40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}
  .shopcategory-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap; 
    gap: 30px; 
    justify-content: center;
    margin: 250px;
    margin-top:10vh;
  }
  
  .item { 
    width: 300px;
    max-width: 100%;
    overflow: hidden; 
    font-size: 30px;
    background:rgb(250, 250, 250);
    border: 1.5px solid rgb(199, 199, 199);
  }

  .shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width:233px;
    height: 69px;
    border-radius:75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;    
}